html { 
  background:url(image/blue.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.logbox{
	background: black;
	opacity: 1;
	height: 0px;
	width: 0px;
	position: absolute;
	left: 65%;
	top: 70px;
} 